@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: "Manrope", sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}

.shopButton{
	/* border: none; */
	background-color: transparent;
	cursor: pointer;
	font-weight:550;


}


ul {
	list-style-type: none;
}

.logOut {
  border: none;
  background-color: white;
  cursor: pointer;
  
}

