.testimonals {

    display:fex;
    justify-content: center;
    align-items: center;
    flex-direction:column
}
testimonials-heading{

    letter-spacing:1px;
    margin:30px 0px;
    padding: 10px 20px;
    display:flex;
    flex-direction:column;
}

body{
    display: grid;
}
.card{

    display: flex;
}

.btn-outline{

    color:cadetblue;
}